@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.row{
    background-color: #FFC017;
    border-bottom: 1px solid black;
}
.wrapper{
    display: block;
    max-width: 1350px;
    margin: 0 auto;
    
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 25px;
    
}
.row-header{
    border-bottom: 1px solid black;
}
.logo{
    width: 40%;
}
.logo a{
    color: black;
    font-size: 30px;
    text-transform: uppercase;
}
.header-right{
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.nav-links a{
    color: black;
    font-size: 18px;
}

.nav-links button{
    background: transparent;
    border: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
}

.bl-button a{
    border: 2px solid black;
    padding: 8px;
    color: white;
    border-radius: 100px;
    background: black;
}

.jumbotron{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 35px;
}

.content-left, .content-right{
    width: 45%;
}
.content-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 9px;

}
.content-left h1{
    font-size: 74px;
    line-height: 65px;
    
    font-weight: 500;
}
.content-left p{
    font-size: 22px;
    font-weight: 300;
}

.jumbo-img{
    width: 100%;
}

.jumbo-img img{
    width: 100%;
    height: 100%;
}
.sec2-btn{
    width: fit-content;
    margin-top: 6px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 100px;
    background: white;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

.row-main-content{
    margin-top: 50px;
    padding: 50px;
    background: white;
    border-top: 1px solid grey;
    border-bottom: none;
}
.row-form-content{
    margin-top: 50px;
    padding: 50px;
    background: white;
   
    border-bottom: none;
}
.main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.left-main-content{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.right-main-content{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.category{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.category a{
    border: 1px solid lightgray;
    background-color: white;
    color: black;

    padding: 6px;
    margin-right: 15px;
    margin-top: 15px;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 45px;
}

.blog-content{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-image{
    width: 35%;
}

.blog-image img{
    width: 100%;
    height: auto;
}

.blog-addons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.blog-info{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.blog-info span{
    font-size: 13px;
    padding: 0 10px 0 10px;
}
.blog-info span:nth-child(1){
    border-right: 1px solid lightgray;
    padding: 0 10px 0 0;
}
.blog-info span:nth-child(2){
    border-right: 1px solid lightgray;
}
.bookmark i{
    font-size: 27px;
}
.info, .blog-image{
    position: relative;
}

.example a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1500;
}

.blog-info span:nth-child(3){
    border-radius: 100px;
    padding: 6px;
    background: lightgray;
    margin-left: 15px;
}

.blog-info span:nth-child(3) a{
    color: black;
}
.bookmark{
    border: none;
    background: transparent;
    cursor: pointer;
    color: black;
    margin-right: 6px;
}
.author{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.author img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 12px;

}

.credential-form , .edit-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.credential-form form{
    max-width: 400px;
    width: 100%;
}
.errors{
    color: white;
    font-size: 15px;
    background-color: red;
    border-radius: 15px;
    padding: 10px;
}
.edit-form h2{
    text-transform: uppercase;
}
.form-element{
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
}
#category{
    border: 1px solid black;
    border-radius: 100px;
    padding: 5px;
}
#image{
    display: none;
}
label[for='image']{
    border: 1px solid lightgrey;
    width: fit-content;
    padding: 5px 5px;
    border-radius: 100rem;
}
label[for="category"],label[for="description"]{
    border-bottom: none;
}
.edit-form.form-element{
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
}
label{
    margin: 10px 0 10px 0;
    border: none;
    width: 100%;
    display: flex;
    
}

.form-element input{
    border: none;
    background: transparent;
    border-bottom: 2px solid rgb(202, 202, 202);
    width: 100%;
}

.form-element i{
    font-size: 17px;
    margin-right: 10px;
}
input:focus{
    outline: none;
}

.form-element button{
    padding: 10px;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 100px;
    background: #36D1DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: transform 0.4s ease-in-out;
}

.form-element button:hover{
    cursor: pointer;
    transform: scale(1.08);
}


.detail-content{
    max-width: 750px;
    width: 100%;
    margin: 0 auto;

}

.blog-header{
    width: 100%;

}
.blog-header h1{
    font-size: 42px;
    font-weight: 500;
}
.blog-header h2{
    margin-top: 15px;
    font-weight: 300;
    color: rgb(121, 121, 121);
}
.blog-author{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-side{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 53%;
    align-items: center;
}
.left-side img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 100%;
}
.blog-body{
    margin-top: 50px;
    width: 100%;
}
.blog-body img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.blog-body p{
    line-height: 35px;
    font-size: 22px;
    margin-top: 50px;
    letter-spacing: 1px;
}


.error-area{
    margin-bottom: 15px;
    color: white;
    display: block;
    background: red;
    border: 1px solid transparent;
    border-radius: 100px;
    padding: 10px;
    
}